.u-section-1 {min-height: 588px}
.u-section-1 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-1 .u-layout-cell-1 {min-height: 588px; background-image: linear-gradient(#adf6f2, #f2f2f2)}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-text-1 {font-family: "Annie Use Your Telescope"; background-image: none; font-size: 3.25rem; margin: 87px 0 0}
.u-section-1 .u-text-2 {font-family: Amaranth; margin: 29px 0 0}
.u-section-1 .u-image-1 {min-height: 588px; background-image: url("images/dd801255-d76d-422c-a36b-eb94fa844e6f.jpg")}
.u-section-1 .u-container-layout-2 {padding: 30px 60px} 

@media (max-width: 1199px){ .u-section-1 {min-height: 484px}
.u-section-1 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-1 .u-layout-cell-1 {min-height: 485px}
.u-section-1 .u-image-1 {min-height: 485px; background-position: 50% 50%} }

@media (max-width: 991px){ .u-section-1 {min-height: 371px}
.u-section-1 .u-layout-cell-1 {min-height: 100px}
.u-section-1 .u-image-1 {min-height: 371px}
.u-section-1 .u-container-layout-2 {padding-left: 30px; padding-right: 30px} }

@media (max-width: 767px){ .u-section-1 {min-height: 278px}
.u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-image-1 {min-height: 417px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-1 {min-height: 175px}
.u-section-1 .u-text-1 {font-size: 2.25rem}
.u-section-1 .u-image-1 {min-height: 263px} }.u-section-2 .u-sheet-1 {min-height: 629px}
.u-section-2 .u-text-1 {font-family: "Annie Use Your Telescope"; margin: 46px auto 0}
.u-section-2 .u-list-1 {min-height: 439px; grid-gap: 10px 10px; grid-template-columns: 100%; grid-template-rows: auto; height: auto; margin: 20px auto 60px 0}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-image-1 {width: 290px; height: 290px; background-image: url("images/f1.jpg"); background-position: 50% 50%; margin: 0 auto}
.u-section-2 .u-text-2 {font-size: 1.875rem; font-weight: 700; margin: 28px 0 0}
.u-section-2 .u-text-3 {margin: 12px 0 0} 

@media (max-width: 1199px){ .u-section-2 .u-list-1 {margin-right: initial; margin-left: initial}
.u-section-2 .u-image-1 {width: 232px; height: 232px} }

@media (max-width: 991px){ .u-section-2 .u-sheet-1 {min-height: 1015px}
.u-section-2 .u-list-1 {grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px)); margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-2 .u-list-1 {grid-template-columns: 100%; margin-right: initial; margin-left: initial}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px} }